:root {
    --elevation-depressed-tablet: -2.543px -2.543px 5.085px 0px hsl(var(--clr-shadow-light) / 1) inset,
        5.085px 5.085px 7.628px 0px hsl(var(--clr-shadow-dark) / 1) inset;

    --elevation-elevated-tablet: -7.628px -7.628px 15.256px 0px hsl(var(--clr-shadow-light) / 1),
        5.085px 5.085px 15.256px 0px hsl(var(--clr-shadow-dark) / 1);

    --elevation-depressed-mobile: -2px -2px 5px 0px hsl(var(--clr-shadow-light) / 1) inset,
        4px 4px 4px 0px hsl(var(--clr-shadow-dark) / 1) inset;

    --elevation-elevated-mobile: -10px -10px 20px 0px hsl(var(--clr-shadow-light) / 1),
        2px 2px 10px 0px hsl(var(--clr-shadow-dark) / 1);

    --elevation-modal: -7.628px -7.628px 15.256px 0px hsl(var(--clr-shadow-modal) / 1),
        5.085px 5.085px 15.256px 0px hsl(var(--clr-shadow-modal) / 1);
}
