.Button {
  --_shape_corner: var(--shape-corner-medium);
  --_min-block-size: 2.5rem; /* 40px; */
  --_padding-inline: 1rem; /* 16px; */
  --_bg-clr: hsl(0, 0%, 94%);

  --_glow-inset: 1px;
  --_glow-spread: 16px;
  --_glow-clr: #ff55fc;
  --_glow-focused-spread: 5px;

  --_text-clr: hsl(0, 0%, 40%);
  --_text-clr-disabled: hsl(var(--clr-on-surface-demphasized) / 1);
  --_text-font: var(--typescale-level-4-font);
  --_text-size: var(--typescale-level-4-size);
  --_text-weight: var(--typescale-level-4-weight);
  --_text-line-height: var(--typescale-level-4-line-height);
  --_text-letter-spacing: var(--typescale-level-4-tracking);

  --_neumorphic-layer-box-shadow: -4px -4px 4px 0px hsl(0, 0%, 100%),
    4px 4px 4px 0px hsl(0, 0%, 85%);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes glow-spin {
  100% {
    --angle: 360deg;
  }
}

.Button {
  display: inline-grid;
  place-content: center;
  min-block-size: var(--_min-block-size);
  padding-inline: var(--_padding-inline);
  border-radius: var(--_shape_corner);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  background-color: hsl(0, 0%, 94%);
}

.NeumorphicLayer {
  /* Elevated level 7*/
  border-radius: inherit;
  position: absolute;
  inset: 0;
  background-color: inherit;
  box-shadow: var(--_neumorphic-layer-box-shadow);
  transition-property: filter, box-shadow;
  transition-timing-function: var(--motion-easing-standard-decelerate);
  transition-duration: var(--motion-duration-short-4);
  border: 0.1px solid hsl(var(--clr-surface) / 1);
  z-index: 1;
  overflow: hidden;
}

.GlowLayer {
  position: absolute;
  inset: calc(-1 * var(--_glow-inset));
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    var(--_glow-clr),
    var(--_glow-clr),
    var(--_glow-clr),
    transparent 50%
  );
  filter: blur(var(--_glow-spread));
  /*remove the glass effect on safari ios*/
  transform: translateZ(0);
  backface-visibility: hidden;

  border-radius: calc(var(--_shape_corner) + var(--_glow-inset));

  animation-name: glow-spin;
  animation-duration: calc(var(--motion-duration-extra-long-4) * 5);
  animation-timing-function: var(--motion-easing-linear);
  animation-iteration-count: infinite;
  z-index: 0;
}

.GlowLayer::after {
  content: "";
  position: absolute;
}

.Label {
  position: relative;
  color: var(--_text-clr);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  font-weight: var(--_text-weight);
  line-height: var(--_text-line-height);
  letter-spacing: var(--_text-letter-spacing);
  z-index: 2;
  user-select: none;
}

.Button:hover:not(:focus) {
  --_neumorphic-layer-blur: var(--_neumorphic-layer-hovered-blur);
}

.Button:is(:active, :focus) {
  --_neumorphic-layer-box-shadow: -4px -4px 4px 0px #fff inset,
    4px 4px 4px 0px #d9d9d9 inset;
}

.Button:disabled,
.Button[disabled] {
  pointer-events: none;

  --_text-clr: var(--_text-clr-disabled);
}

.Button:disabled .Glow,
.Button[disabled] .Glow {
  display: none;
}
