.Card {
    position: relative;
    --_border-radius: 24px;
    --_border-width: 0.5px;
    --_border-clr: #fff;
    --_bg-clr: #f0f0f0;
    --neumorphic-layer-box-shadow: -2.543px -2.543px 5.085px 0px #fff inset, 5.085px 5.085px 7.628px 0px #d7d7d7 inset;
    --neumorphic-layer-blur: 3.8140244483947754px;

    border-radius: var(--_border-radius);

    .NeumorphicLayer {
        position: absolute;
        content: '';
        border-radius: inherit;
        display: inline-block;
        inset: 0;
        background-color: var(--_bg-clr);
        box-shadow: var(--neumorphic-layer-box-shadow);
        border: var(--_border-width) solid var(--_border-clr);
        filter: blur(var(--neumorphic-layer-blur));
    }

    .Content {
        position: relative;
        block-size: 100%;
    }
}
